$yellow: #ffe400;
$lavender: #d8beea;

$magenta: #7f294f;
$purple: #6760a8;

$orange: #f36c21;
$pink: #f6a0b3;

$teal: #70cacb;
$light-purple: #a0a5d3;

$white: #fff;

$font-family: ITCAvantGardeStd-DemiCn;

$bp-min: 769px;
$bp-max: $bp-min - 1px;

$mobile-base: 320px;
$desktop-base: 1440px;

@mixin vw(
  $property,
  $m-size,
  $d-size,
  $m-max: null,
  $m-max-window: 400px,
  $d-max: null
) {
  @if ($m-size != none) {
    #{$property}: $m-size / $mobile-base * 100vw;

    @if ($m-max) {
      $max-window-size: $m-max * $mobile-base / $m-size;

      @media screen and (min-width: $max-window-size) and (max-width: $bp-min) {
        #{$property}: $m-max;
      }
    }

    @if ($m-max-window) {
      @media screen and (min-width: $m-max-window) and (max-width: $bp-min) {
        #{$property}: $m-size / $mobile-base * $m-max-window;
      }
    }
  }

  @media screen and (min-width: $bp-min) {
    #{$property}: $d-size / $desktop-base * 100vw;
  }
}

@mixin vw-font-size($m-size, $d-size) {
  @include vw(font-size, $m-size, $d-size);
}

@mixin vw-width($m-size, $d-size) {
  @include vw(width, $m-size, $d-size);
}
