@import './variables';

body,
html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;

  &.show-can {
    transform: translateY(-100%);
  }
}

body {
  overflow: hidden;
  margin: 0;
  background-attachment: fixed;
  color: $white;
  font-family: $font-family;
  line-height: 1.2;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  text-transform: uppercase;

  &.rose {
    background-image: linear-gradient(to bottom, $pink 44%, $orange 100%);
  }

  &.pinot {
    background-image: linear-gradient(to bottom, $light-purple 0%, $teal 100%);
  }

  &.noir {
    background-image: linear-gradient(to bottom, $magenta 0%, $purple 90%);
  }

  &.bubbly {
    background-image: linear-gradient(to bottom, $yellow 0%, $lavender 75%);
  }
}
