@import './variables';

.logo {
  @include vw-width(113px, 160px);
  @include vw(margin-bottom, 35px, 70px);
  @include vw(margin-top, -10px, -30px);
}

.big-text-button {
  display: inline-block;
  border: 0;
  appearance: none;
  background: transparent;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  font-family: $font-family;
  text-decoration: none;

  @include vw-font-size(67px, 110px);
  @include vw(margin-bottom, 25px, 40px);
  @include vw(margin-top, 35px, 50px);
  @include vw(margin-left, 15px, 35px);
  @include vw(margin-right, 15px, 35px);
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.disclaimer {
  @include vw(max-width, 260px, 560px);

  margin: auto;
}
