@import './variables';

.spinning-mask,
.spinning-can {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0 auto;
}

.video-canvas {
  max-width: 100%;
  max-height: 75%;
  margin: auto;

  @media screen and (max-width: $bp-max) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 440px;
    max-height: 75vh;
    transform: translate(-50%, -50%);
  }
}

.spinning-can {
  position: absolute;
  display: block;
  visibility: hidden;
}

.can-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.spinning-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

$spacing: 20px;

.bottom {
  max-width: 500px;

  @media screen and (min-width: $bp-min) {
    position: absolute;
    right: $spacing;
    bottom: $spacing;
    left: $spacing;
    display: flex;
    max-width: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.subscribe-form {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (max-width: $bp-max) {
    position: absolute;
    right: $spacing;
    bottom: $spacing;
    left: $spacing;
    width: auto;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  @media screen and (min-width: $bp-min) {
    max-width: 453px;
    margin: 0;

    @include vw(max-width, none, 453px);
  }

  input {
    width: 100%;
  }

  input,
  button {
    padding: 10px;
    border: 2px solid $white;
    margin: 0;
    appearance: none;
    background: transparent;
    border-radius: 0;
    color: $white;
    font-family: $font-family;
    text-transform: uppercase;

    @include vw-font-size(15px, 23px);

    &::placeholder {
      color: $white;
    }

    @media screen and (max-width: $bp-max) {
      border-width: 1px;
    }
  }

  button {
    padding-right: 15px;
    padding-left: 15px;
    border-left: 0;
  }
}

.social-links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $bp-max) {
    position: absolute;
    top: $spacing;
    right: $spacing;
    left: $spacing;
    width: auto;
    max-width: 100%;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  @media screen and (min-width: $bp-min) {
    width: auto;
    justify-content: center;
    margin-left: auto;
  }

  li {
    margin: 0 10px;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}
