@import './variables';

/**
 * @license
 * MyFonts Webfont Build ID 3616048, 2018-07-29T18:07:45-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../assets/fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ITCAvantGardeStd-DemiCn by ITC
 * URL: https://www.myfonts.com/fonts/itc/avant-garde-gothic/std-condensed-demibold/
 * Copyright: Copyright &#x00A9; 1993, 1994, 2001 Adobe Systems Incorporated.  All Rights Reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3616048
 * 
 * © 2018 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url('//hello.myfonts.net/count/372d30');

@font-face {
  font-family: 'ITCAvantGardeStd-DemiCn';
  src: url('../assets/fonts/372D30_0_0.eot');
  src: url('../assets/fonts/372D30_0_0.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/372D30_0_0.woff2') format('woff2'),
    url('../assets/fonts/372D30_0_0.woff') format('woff'),
    url('../assets/fonts/372D30_0_0.ttf') format('truetype');
}

.big-copy {
  @include vw-font-size(15px, 37px);
}

.copy {
  @include vw-font-size(10px, 16px);

  letter-spacing: 0.02em;
}

.medium-copy {
  @include vw-font-size(15px, 23px);

  letter-spacing: 0.02em;
}
